@charset "utf-8";
/* CSS Document */

root { 
    display: block;
}

html {
	margin:0; padding:0;
}
body {
	color: #545454;
	background: #eaf6ff;
	margin:0; 
	padding:0;
	background:url(/images/gx_bg.jpg) center 100px no-repeat;	
	font-family:"Open Sans", Arial, Times;
}


.logo {
	margin:50px auto; 
	padding:0;
	width:392px; height:197px;
	background:url(/images/gx_logo.png) top center no-repeat;
}
.logoLong {
	margin:20px 0; padding:0;
	width:385px; height:80px;
	background:url(/images/gx_logo_long.png) top center no-repeat;
}

/* login page... */

#mainContent{
	width: 75%;
	min-width: 1000px;
	margin: auto;
}

#activities{
	float: left;
	min-width: 480px !important;
}

#activities ul{
	list-style: none;
	border: 1px solid #EEE;
	margin: 0;
	height: 260px;
	background: white;
}

#activityHeading{
	text-align: center;
	margin: 0;
	background: #F7F7F7;
	padding: 10px;
	border: 1px solid #EEE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	color: #777;
}

#activities ul li{
	display: block;
	margin: auto;
	padding: 10px;
	background: #FFF;
}

#activities ul li img{
	max-height: 50px;
	max-width: 50px;
	border: 5px solid #FFF;
	/*box-shadow: 0px 0px 7px #CCC;*/
}

#activities ul li .fromImg{
	float: left;
	margin-right: 20px;
}

#activities ul li .toImg{
	float: left;
	margin-left: 20px;
}

#activities ul li .activityDesc{
	float: left;
	height: 50px;
	padding-top: 15px;
}

#signup{
	background: #FFF;
	padding: 30px;
	margin-left: 40px;
	border-radius: 10px;
	margin-top: 80px;
	float: left;
	box-shadow: 0px 0px 20px #bee9f7;
}

#fbButton{
	margin: auto;
	display: block;
}

.howto ol li{
	margin-bottom: 8px;
}

#happiness{
	text-align: center;
	color: #399DCC;
}

/********************/

.friendslist {
	border-right: 1px solid #f1f1f1;
}
.friendslist img.giftbox {
	max-width: 24px;
}
.friendslist span {
	font-size: 10px;
}
.friendslist .row-fluid {
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}
.friendslist h4 {
	padding: 7px;
	background-color: #f1f1f1;
	margin-bottom: 10px;
	margin-top: 1px;
}

h4 {
	margin-bottom: 30px;
}
.top-item {
	min-height:35px;
	border-bottom: 1px solid #f1f1f1;
	margin-top: 16px;
}
.top-item .menu {
	padding-left:90px;
}
.top-item .menu ul {
	list-style:none;
	margin:0; padding:0;
}
.top-item .menu ul li {
	list-style:none;
	float:left;
	margin:10px 0 10px 10px; padding:0;
}
.top-item .menu ul li a {
	margin:0; padding-left:5px;
}

.menu-profile, .menu-mobile, .menu-logout {
	float:left;
	background:url(/images/icon_sprites.png) no-repeat scroll 0 0 transparent;
	width:20px; height:20px;
}
.menu-profile {
	background-position:0 -560px;
}
.menu-mobile {
	background-position:-60px -392px;
}
.menu-logout {
	background-position:-260px -308px;
}

.friendslist .my-friends {
	height:700px;
	overflow:auto;
}

.fineprint {
	font-size:10px;
}

.footer {
	margin:10px auto; padding:10px;
}