<filesMatch ".js$">
AddHandler application/x-httpd-php .js
AddHandler application/javascript .js
</filesMatch>
<filesMatch ".png$">
AddHandler image/png .png
</filesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Begin - Core pages
RewriteRule ^dashboard$ /dashboard.php
RewriteRule ^dashboard/$ /dashboard.php

RewriteRule ^dashboard/give-gift$ /dashboard.php?type=give
RewriteRule ^dashboard/give-gift/$ /dashboard.php?type=give

RewriteRule ^dashboard/receive-gift$ /dashboard.php?type=receive
RewriteRule ^dashboard/receive-gift/$ /dashboard.php?type=receive

RewriteRule ^dashboard/notifications$ /notifications.php
RewriteRule ^dashboard/notifications/$ /notifications.php

RewriteRule ^logout$ /logout.php
RewriteRule ^logout/$ /logout.php
# End - Core pages

</IfModule>